        /*variables*/
        
        $gold-color: rgba(255, 215, 0, 1);
        $generic-border:2px solid black;
        /*mixins*/
        
        @mixin character {
            display: block;
            margin: 25px;
            font-size: 30px;
            text-align: center;
            width: 45vh;
            height: 50vh;
            background-color: aliceblue;
            border: $generic-border;
            border-radius: 50px;
        }
        
        a {
            cursor: pointer;
            text-decoration: none;
            color: black;
            font-size: 25px;
        }
        
        body {
            display: block;
            background-color: $gold-color;
            border: 5px solid black;
            position: relative;
            .bodyflex {
                display: flex;
                flex-direction: column;
            }
            header {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 15vh;
                text-align: center;
                border: 2px solid black;
                nav {
                    display: flex;
                    flex-direction: row;
                    .logo {
                        font-size: 100px;
                        color: blue;
                        display: block;
                        width: 25vh;
                        margin: auto;
                    }
                    .menu {
                        display: block;
                        margin-top: 40px;
                        width: 35%;
                        border: $generic-border;
                        position: absolute;
                        right: 5vh;
                        ul {
                            display: flex;
                            flex-direction: row;
                            list-style: none;
                            margin-left: auto;
                            margin-right: auto;
                            li {
                                margin: auto;
                            }
                        }
                    }
                }
            }
            .hero {
                text-align: center;
                background-image: url("./images/Jason.png");
                background-position: center;
                background-repeat: no-repeat;
                display: block;
                height: 66vh;
                border: $generic-border;
                h1 {
                    text-align: center;
                    margin-top: 25vh;
                    display: block;
                    font-size: 30px;
                }
                p {
                    text-align: center;
                }
            }
            .royalFamily {
                display: flex;
                flex-direction: column;
                height: 75vh;
                border: $generic-border;
                h2 {
                    text-align: left;
                    margin-top: 2vh;
                    margin-left: 2vh;
                    text-decoration: underline;
                    display: block;
                    font-size: 30px;
                }
                .laFamille {
                    display: flex;
                    flex-direction: row;
                    margin: auto;
                    .king {
                        @include character;
                    }
                    .princess {
                        @include character;
                    }
                    .queen {
                        @include character;
                    }
                }
            }
            footer {
                display: block;
                height: 20vh;
                border: $generic-border;
            }
        }